[submodule "Drivers/STM32C0xx_HAL_Driver"]
	path = Drivers/STM32C0xx_HAL_Driver
	url = https://github.com/STMicroelectronics/stm32c0xx_hal_driver.git
	branch = main
[submodule "Drivers/CMSIS/Device/ST/STM32C0xx"]
	path = Drivers/CMSIS/Device/ST/STM32C0xx
	url = https://github.com/STMicroelectronics/cmsis_device_c0.git
	branch = main
[submodule "Drivers/BSP/STM32C0xx_Nucleo"]
	path = Drivers/BSP/STM32C0xx_Nucleo
	url = https://github.com/STMicroelectronics/nucleo-c031c6-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32C0116-DK"]
	path = Drivers/BSP/STM32C0116-DK
	url = https://github.com/STMicroelectronics/stm32c0116-dk-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32C0316-DK"]
	path = Drivers/BSP/STM32C0316-DK
	url = https://github.com/STMicroelectronics/stm32c0316-dk-bsp.git
	branch = main
[submodule "Drivers/BSP/Components/Common"]
	path = Drivers/BSP/Components/Common
	url = https://github.com/STMicroelectronics/stm32-bsp-common
	branch = main
[submodule "Middlewares/Third_Party/mbed-crypto"]
	path = Middlewares/Third_Party/mbed-crypto
	url = https://github.com/STMicroelectronics/stm32-mw-mbedtls.git
	branch = main
[submodule "Middlewares/ST/cmsis_rtos_threadx"]
	path = Middlewares/ST/cmsis_rtos_threadx
	url = https://github.com/STMicroelectronics/stm32-mw-cmsis-rtos-tx.git
	branch = main
[submodule "Middlewares/ST/filex"]
	path = Middlewares/ST/filex
	url = https://github.com/STMicroelectronics/stm32-mw-filex.git
	branch = main
[submodule "Middlewares/ST/levelx"]
	path = Middlewares/ST/levelx
	url = https://github.com/STMicroelectronics/stm32-mw-levelx.git
	branch = main
[submodule "Middlewares/ST/threadx"]
	path = Middlewares/ST/threadx
	url = https://github.com/STMicroelectronics/stm32-mw-threadx.git
	branch = main
[submodule "Middlewares/ST/usbx"]
	path = Middlewares/ST/usbx
	url = https://github.com/STMicroelectronics/stm32-mw-usbx.git
	branch = main
[submodule "Middlewares/ST/OpenBootloader"]
	path = Middlewares/ST/OpenBootloader
	url = https://github.com/STMicroelectronics/stm32-mw-openbl.git
	branch = main
